<?xml version="1.0" ?>
<launch>
  <node pkg="icp_tracking" type="icp_tracking" name="icp_tracking" output="screen"></node>
  <node name="get_gps" pkg="ground_truth" type="get_gps.py" output="screen"/>
  <node name="read_ground_truth" pkg="ground_truth" type="read_ground_truth.py" output="screen"/>
  <node pkg="lidar_cluster" type="lidar_cluster_pmf" name="lidar_cluster" output="screen"></node>
	<!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find icp_local)/rviz/config.rviz" />-->
</launch>
